.header{
	background: url(../img/m-h-day.jpg) no-repeat;
}
$bg: #ffffff;
$bgf: #2b5cd0;
$contentBackground: #ffffff;
$buttonBackground1: #699a00;
$buttonBackground2: #2b5cd0;
$color1: #282b39;
$color2:#2e3340;
$font1:'Source Sans Pro', sans-serif;
$font2:'Hind', sans-serif;
$font3:'Fresca', sans-serif;
$paddingLeft: 140px;